%header
  %h1 Passwort zur端cksetzen
%p
  Bitte geben Sie Ihre E-Mail-Adresse ein und klicken sie auf "Passwort zur端cksetzen".
- form_tag password_resets_path do
  %fieldset
    %legend Passwort zur端cksetzen
    .fieldset-desc
      %p
        Bitte geben Sie Ihre E-Mail-Adresse ein.
    = label_tag :email, 'E-Mail-Adresse'
    = text_field_tag :email
    %button{:name => 'commit', :type => 'submit'} Passwort zur端cksetzen