:javascript
  function validate_empty() {
    //validate event
    if (!$("#event_name").val() || !$("#event_description").val() || !$("#event_date_from").val()) {
      alert("Sie müssen Name, Beschreibung und Startdatum der Veranstaltung ausfüllen.");
      return false;
    } else if ($("#branch option:selected").val() == '0') {
      alert("Sie müssen eine Branche auswählen.");
      return false;
    } else if ($("#host option:selected").val() == '0') {
      alert("Sie müssen einen Veranstalter auswählen.");
      return false;
    } else if ($("#venue option:selected").val() == '0') {
      alert("Sie müssen einen Veranstaltungsort auswählen.");
      return false;
    }
    return true;    
  }

%header
  %h1
    Kalendereintrag eingeben
%p
  Hier können Sie einen neuen Termin für den Veranstaltungskalender eingeben.
- form_tag create_event_path, :onsubmit => 'return validate_empty();' do
  - unless @event_permissions.blank?
    - unless @event_rows.blank?
      = render :partial => "events/partials/event", :locals => {:event_rows => @event_rows, :branches => @branches, :data => @data}